hr{
  border-style: solid;
  border-color: black;
  border-width: 1px;
  width:100%;
  border-color: var(--main-purple);
  margin:20px 0px;
}

.info-title{
  font-family: roboto;
  font-weight: bold;
  font-size: 45px;
  color:var(--main-purple);
}

.info-text{
  font-family: roboto;
  color:var(--main-purple);
  font-size: 16px;
  line-height: 24px;
  text-align: justify;
}

.floating-image-left{
  float: left;
  margin:8px 8px 8px 0px;
}

.floating-image-right{
  float: right;
  margin:8px 0px 8px 8px;
}

.info-container{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    align-items: center;
    padding: 30px;
    border-style:solid;
    border-width: 2px;
    border-radius: 8px;
    border-color: var(--main-purple);
    background: #eed5f3;
    background: linear-gradient(0deg, rgb(248, 211, 255) 0%, rgba(255, 255, 255, 1) 100%);
  }

  .subtitle{
  font-family: roboto;
  color:var(--main-purple);
  font-size: 18px;
  line-height: 24px;
  text-align: justify;
  font-weight: bold;
  margin-bottom: 0;
}

.info-back-button-container{
  position:absolute;
  left:20px;
  top:15px;
}

.info-back-button:hover{
    background-color: rgb(213, 119, 230);
}

button{
  padding: 8px;
  transition-duration: 0.2s;
  background-color: var(--main-purple);
  cursor: pointer;
  border-style: none;
  border-radius: 8px;
  padding:15px;
  color: white;
  font-weight:bolder;
  
  display:block
}

button:hover{
    background-color: rgb(213, 119, 230);
}

a {
  text-decoration: none;
}

img{
  border-color: var(--main-purple);
  border-style: solid;
  border-radius: 6px;
  border-width: 2px;
}

.grid-two{
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, minmax(50px, 1fr));
  gap:8px;
}

.grid-three{
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, minmax(50px, 1fr));
  gap:8px;
}

.grid-four{
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, minmax(50px, 1fr));
  gap:8px;
}

.grid-five{
  display: grid;
  width: 100%;
  grid-template-columns: repeat(5, minmax(50px, 1fr));
  gap:8px;
}
  
.grid-entry{
  width: 100%;
  object-fit: contain;
  background-color: white;
}